body {
    display: flex;
    justify-content: center;
    background: rgb(223, 211, 46);
}

.list-container {
    user-select: none;
    border: 3px solid black;
    width: 50%;
    padding: 5px 10px 10px 10px;
    text-align: center;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    margin-top: 15%;
}

#input {
border: 3px solid black;
border-radius: 15px;
text-align: center;
}

.strike {
    text-decoration: line-through;
}

#list {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-position: inside;
    width: 80%;
    justify-content: left;
}

#submit {
    height: 30px;
    user-select: none;
    cursor: pointer
}

#item {
    text-align: left;
    background: rgb(203, 203, 209);
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    user-select: none;
}

.close {
    margin-left: 37%;
    position: absolute;
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
}